<body>
  <app-nav-menu></app-nav-menu>
  <header class="mb-5 header"></header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="pt-3 footer  bg-dark text-light text-center mt-5" style="margin-top: 62px;">

    <div class="pt-5">
      <a href="/"><i class="ms-3 fa-lg fab fa-linkedin-in float-lg"></i></a>
      <a href="/"><i class="ms-3 fa-lg fab fa-twitter"></i></a>
      <a href="/"><i class="ms-3 fa-lg fab fa-facebook"></i></a>
      <a href="/"><i class="ms-3 fa-lg fab fa-google-plus"></i></a>
      <a href="/"><i class="ms-3 fa-lg fab fa-instagram"></i></a>
      <a href="/"><i class="ms-3 fa-lg fab fa-github"></i></a>
    </div>

    <div class="mt-3">
      <i class="fas ">TutorialsEU </i>
    </div>

    <div class=" text-muted">
      <i>© 2022 Copyright: TutorialsEU </i>
    </div>

  </footer>
</body>
